{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %} 

<div class="wrapper" style="min-height:100vh;">

<main class="table">
    <section class="table__header" style="height:60px;">
        <h1>Your Bill</h1>
      
    </section>
    <section class="table__body">
       <div class='bill-container'>
          <div class="bill-row">
            <span>Full Name:</span>
            <span>{{billInfo[2]}}</span>
          </div>
          <div class="bill-row">
            <span>Phone:</span>
            <span>{{billInfo[3]}}</span>
          </div>
          <div>
            <table>
                <tr>
                    <th>Menu<th>
                    <th>Price<th>
                    <th>Quantity<th>
                    <th>Amount<th>
                </tr>
                <tr>
                    <td>{{billInfo[9]}}<td>
                    <td>$ {{billInfo[10]}}<td>
                    <td>{{billInfo[5]}}<td>
                    <td>$ {{roomPrice}}<td>
                </tr>
                <tr>
                  <td>{{service[0][1]}}<td>
                  <td>$ {{service[0][2]}}<td>
                  <td>{{billInfo[6]}}<td>
                  <td>$ {{breakfastPrice}}<td>
              </tr>
              <tr>
                <td>{{service[1][1]}}<td>
                <td>$ {{service[1][2]}}<td>
                <td>{{billInfo[7]}}<td>
                <td>$ {{extraBedPrice}}<td>
            </tr>
            </table>
          </div>
          <div class="amount-row">
            <h2>Total Amount: $ {{totalAmount}} </h2>
          </div>
       </div>
    </section>
    {% if billInfo[8] == "Pending" %}
    <div class="bill-button">
     <form method="POST" action="/bookings">
        <input type="hidden" name="bookingId" value="{{billInfo[0]}}" />   
        <button type="submit">Continue To Payment</button>
        <a href="/bookings">Back</a>
     </form>
     
    </div>
    {%else%}
    <div class="bill-button">
       <a href="/bookings">Back</a>
    </div>
    {%endif%}
</main>

</div>

<script src="static/js/bookings.js"></script>
{% endblock %}