{% extends "base.html" %}

{% block header %}
    <header>
      <nav class="navbar">
        <div class="logo">
        <a href="/"><img src="../static/image/logo-white.png" alt="img"></a></img>
        </div>
        <input type="checkbox" id="menu-toggler">
        <label for="menu-toggler" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </label>
        <ul class="all-links">
          <li><a href="/">Home</a></li>
          <li><a href="/#rooms">Rooms</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
{% endblock %}

{% block content %}

    <section class="homepage" id="home">
      <div class="content">
        <div class="text">
          <h1>Welcome to Mia Vista Hotel </h1>
          <p>
            Immerse yourself in the epitome of luxury, where impeccable service and extraordinary experiences await. 
             <br>  Discover a sanctuary of refined elegance, breathtaking views, and unparalleled comfort.</p>
        </div>
        <a href="#rooms">Our Rooms</a>
      </div>
    </section>

    <section class="services" id="rooms">
      <h2>Our Services</h2>
      <p>Explore our wide range of camping gear services.</p>
      <ul class="cards">
        <li class="card">
          <img src="images/tents.jpg" alt="img">
          <h3>Tents</h3>
          <p>Experience comfort and protection with our high-quality camping tents.</p>
        </li>
        <li class="card">
          <img src="images/bags.jpg" alt="img">
          <h3>Sleeping Bags</h3>
          <p>Stay cozy and warm during your camping trips with our premium sleeping bags.</p>
        </li>
        <li class="card">
          <img src="images/stoves.jpg" alt="img">
          <h3>Camp Stoves</h3>
          <p>Cook delicious meals in the great outdoors with our reliable camp stoves.</p>
        </li>
        <li class="card">
          <img src="images/backpacks.jpg" alt="img">
          <h3>Backpacks</h3>
          <p>Carry your essentials comfortably with our durable and functional camping backpacks.</p>
        </li>
        <li class="card">
          <img src="images/chair.jpg" alt="img">
          <h3>Camp Chairs</h3>
          <p>Relax and unwind in style with our comfortable and portable camping chairs.</p>
        </li>
        <li class="card">
          <img src="images/light.jpg" alt="img">
          <h3>Camp Lights</h3>
          <p>Illuminate your campsite with our reliable and energy-efficient camping lights.</p>
        </li>
      </ul>
    </section>

    <section class="about" id="about">
      <h2>About Us</h2>
      <p>Discover our story in providing exceptional service and exquisite hospitality.</p>
      <div class="row company-info">
        <h3>Our Story</h3>
        <p>At Mia Vista Hotel, we believe in crafting unforgettable moments that linger in the hearts of our guests. Since our establishment in 2000, we have been dedicated to providing a sanctuary of elegance, comfort, and personalized attention.</p>
      </div>
      <div class="row mission-vision">
        <h3>Our Mission</h3>
        <p>At Mia Vista Hotel, our mission is to provide an unparalleled experience of refined luxury and impeccable hospitality. We are committed to delivering personalized service, creating enchanting moments, and ensuring the utmost satisfaction of our guests. We strive to exceed expectations by fostering a culture of excellence, attention to detail, and genuine care for our guests' well-being.</p>
        <h3>Our Vision</h3>
        <p>Our vision is to be the premier destination that epitomizes refined luxury and exceptional hospitality. We aspire to create a haven of tranquility where guests can escape the ordinary and immerse themselves in an oasis of elegance and serenity. With our unparalleled service, stunning surroundings, and commitment to sustainability, we aim to become a cherished and sought-after destination for travelers seeking a truly unforgettable experience.</p>
      </div>
      <div class="row team">
        <h3>Our Team</h3>
        <ul>
          <li>Sophia Johnson - General Manager</li>
          <li>Alex Ramirez - Front Office Manager</li>
          <li>Christopher Anderson - Executive Chef</li>
          <li>Emily Collins - Housekeeping Manager</li>
          <li>Michael Thompson - Sales and Marketing Manager</li>
        </ul>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2>Contact Us</h2>
      <p>Reach out to us for any inquiries or feedback.</p>
      <div class="row">
        <div class="col information">
          <div class="contact-details">
            <p><i class="fas fa-map-marker-alt"></i> 101 Anderson Street, Christchurch, NZ 8013</p>
            <p><i class="fas fa-envelope"></i> info@miavista.com</p>
            <p><i class="fas fa-phone"></i> (123) 456-7890</p>
            <p><i class="fas fa-clock"></i> Monday - Friday: 9:00 AM - 5:00 PM</p>
            <p><i class="fas fa-clock"></i> Saturday: 10:00 AM - 3:00 PM</p>
            <p><i class="fas fa-clock"></i> Sunday: Closed</p>
            <p><i class="fas fa-globe"></i> www.miavista.com</p>
          </div>          
        </div>
        <div class="col form">
          <form>
            <input type="text" placeholder="Name*" required>
            <input type="email" placeholder="Email*" required>
            <textarea placeholder="Message*" required></textarea>
            <button id="submit" type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </section>

    <footer>
      <div>
        <span>Copyright © 2023 All Rights Reserved</span>
        <span class="link">
            <a href="#">Home</a>
            <a href="#contact">Contact</a>
        </span>
      </div>
    </footer>

{% endblock %}
