{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %} 

<div class="wrapper" style="padding: 80px 50px 50px 50px;">
<section class = "banner">
    <h2>BOOK YOUR ROOM NOW</h2>
    <div class = "card-container">
        <div class = "card-img">
            <!-- image here -->
        </div>

        <div class = "card-content">
            <h3>Reservation</h3>
            <form class="booking-form">
                <div class = "form-row">
                    <input type = "text" placeholder="Standard Room" value="Standard Room" disabled>
                    <input type = "text" placeholder="$ 100 / Night" value="$ 100 /Night" disabled>
                </div>

                <div class = "form-row">
                    <input type = "text" placeholder="Full Name">
                    <input type = "text" placeholder="Phone Number">
                </div>

                <div class = "form-row">
                <select name = "days">
                    <option value = "day-select">Breakfast</option>
                    <option value = "sunday">0</option>
                    <option value = "monday">1</option>
                    <option value = "tuesday">2</option>
                </select>
  
                <select name = "hours">
                    <option value = "hour-select">Etra Bed</option>
                    <option value = "10">0</option>
                    <option value = "10">1</option>                  
                </select>
                </div>

                <div class = "form-row">                          
                    <input type="text" name = "check_in_date" onfocus="(this.type='date')" placeholder="check_in_date">              
                    <input type="text" name = "check_in_date" onfocus="(this.type='date')" placeholder="check_in_date">                 
                </div>
            

                <div class = "form-row">
                    <button type = "submit" class="submit-button">Submit</button>
                    <button class = "cancle-button" onclick="history.back()">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</section>

</div>

{% endblock %}